.nav-container {
    position: fixed;
    width: 100%;
    top: 50px;
    overflow: hidden;
    background-color: white;
    z-index:1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.header-logo{
    float: left;
    width: auto;
    margin-left: 20px;
}

.links{
    margin-top: 16px;
    float: right;
    width: auto;
}

.nav-container a {
    text-align: center;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000000;
    float: left;
    display: block;
    padding: 6px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 0 !important;
}
.nav-container a:hover{
    color: black;
}
.nav-container .icon {
    display: none;
    padding-top: 5%;
}
.washh-logo-image{
    max-width: 100%;
    width: 40;
    height: 50;
}
.washh-logo-image{
    max-width: 100%;
    width: 45;
    height: 50;
}

@media only screen and (max-width: 786px) and (min-width: 210px){
    .noneed1, .noneed2, .noneed3, .noneed4{
        display: none;
    }
}
@media screen and (max-width: 786px) and (min-width: 481px) {
    .nav-container{
        top: 50;
        width: 101%;
        margin-left: -1%;        
    }
    .nav-container a.icon {
        top: 50;
    }
}
@media screen and (max-width: 786px) and (min-width: 210px) {
    .nav-container a:not(:first-child) {display: none;}
    .nav-container a.icon {
        float: right;
        display: block;
    }
    .noneed{
        display: none;
    }

    .nav-container.responsive {position: fixed;}
    .nav-container.responsive .icon {
        position: fixed;
        right: 0;
    }
    .nav-container.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
@media screen and (max-width: 696px) and (min-width: 614px) {
    .nav-container{
        top: 40;
    }
    .nav-container a.icon {
        top: 40;
    }
    .links{
        display: none;
    }
}
@media screen and (max-width: 481px) {
    .nav-container{
        top: 0;
     }
    .nav-container a.icon {
        top: 0;
    }
    .links{
        display: none;
    }
}