/* .serv-main{ */
.services-container{
    margin-left: 5%;
    margin-right: 5%;
}
.service-heading-text{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 36px;
    line-height: 72px;
    color: #212121;
}
.service-paragraph-text{
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}
.serivice-flex-container {
    display: inline-flex;
    flex-direction: row;
}
.serivice-flex {
    flex: 50%;
    border-radius: 10px;
}
.img-dimensions{
    width: 120px;
    margin: 20px;
}
.img1{
    background-image: url("../images/Wash.png");
}
.img2{
    background-image: url("../images/Wash-Iron.jpg");
}
.img3{
    background-image: url("../images/Dry-Cleaning.jpg");
}
.img1, .img2, .img3{
    margin-left: 20px;
}
.text-over-image{
    font-family: Roboto Slab;
    font-weight: 700;
    font-size: 16px;
    color: #2f2f2f;
    text-align: center;
}

.displayweb{ display: block; }
.displaymob{ display: none; }
.displaymobxs{ display: none; }

* {
  box-sizing: border-box;
}

@media only screen and (max-width: 870px){
    .img-dimensions{
        width: 120px;
    } 
    .img1, .img2, .img3{
        background-size: 168px 228px;
    }
    .text-over-image{
        font-size: 16px;
        padding-top: 10px;;
    }
}

@media only screen and (max-width: 605px){
    .img-dimensions{
        width: 168px;
        height: 228px;
    } 
    .service-para{
        font-size: 16px;
        line-height: 30px;
    }
    .displayweb{ display: none; }

    .displaymob{ display: block; }
} 

@media only screen and (max-width: 430px){
    .img-dimensions{
        width: 130px;
        height: 150px;
    } 
    .img1, .img2, .img3{
        background-size: 130px 150px;
    }
    .text-over-image{
        font-size: 18px;
        padding-top: 10px;
    }
}
 
@media only screen and (max-width: 300px){
    .displaymobxs{ display: block; }
    .nodisplay-xs{ display: none; }
}